@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: "DMSans", "Inter", sans-serif;
  background-color: #fafafa;
  box-sizing: border-box;
  min-width: 375px;
}

img {
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

a {
  color: #76a5ea;
  text-decoration: none;
}

button,
textarea {
  all: unset;
}

#a4-container {
  white-space: pre-wrap;
}

@layer components {
  .btn-common {
    @apply w-[36px] h-[36px] text-center border bg-white cursor-pointer rounded-3xl transition-transform duration-200 ease-in-out;
  }

  .btn-hover:hover {
    @apply transform scale-97 shadow-lg;
  }

  .nav-item {
    @apply flex items-center text-white mb-4;
  }

  .nav-item-icon {
    @apply min-w-[3rem] text-center;
  }

  .space-y-6 {
    @apply space-y-6;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff2?v=1') format('woff2'),
       url('/fonts/Roboto-Regular.woff?v=1') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff2?v=1') format('woff2'),
       url('/fonts/Roboto-Bold.woff?v=1') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2?v=1') format('woff2'),
       url('/fonts/Poppins-Regular.woff?v=1') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
       url('/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}